.background {
  background-image: url("./../../public/background.jpg");
  width: 100%;
  position: fixed;
  background-position: center;
}

.main {
  top: 0;
  height: 100vh;
  background: linear-gradient(111deg, #000000, #000000ba, #000000);
  background-size: 240% 240%;
  animation: gradient-animation 9s ease infinite;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titles {
  display: flex;
  flex-direction: row;
}

.mainTitle {
  color: white;
  font-size: clamp(30px, 1vw + 50px, 90px);
  font-weight: bold;
}

.secondaryTitle {
  -webkit-text-stroke: 1px white;
  font-size: clamp(30px, 1vw + 50px, 90px);
  font-weight: bold;
  color: transparent;
}
